<section class="container centered">
  <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
      {{ with .Site.Params.avatarURL }}
        <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
      {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
      <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
   <!-- <h2>{{ .Site.Params.info }}</h2> -->
    {{ with .Site.Params.social }}
<div class="clearfix">
  <div class="box">
  <p>Imagine a world without policing or prisons, with libraries rooted in community self-determination and intellectual freedom through collective action</p>
  </div>
  <div class="box">
  <p>"Prison industrial complex (PIC) abolition is a political vision, a structural analysis of oppression, and a practical organizing strategy" - Mariame Kaba</p>  
  </div>
  <div class="box">
  <p>Abolition puts values into action: community not cops, books not bars, and people over property</p>
  </div>
</div>
    <ul>
      {{ range sort . "weight" }}
        {{ if .icon }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
          </li>
        {{ else }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>
